<style type="text/css">
<!--
body {
     Background-color:#FFFFFF;
}
h2.info {
	color:blue;
	font-size:20px;
}
h2.info2 {
	color:blue;
	font-size:20px;
}

h2.error {
	color:red;
	font-size:20px;
}

h1.title {
	color: blue;
	font-size:25px;
}
div.mtitle {
	position: absolute;
	top:15px;
	right:300px;
	width:100px;
}

div.tmenu {
	position: absolute;
	top:10px;
	left:190px;
	width:750px;
}

div.lmenu {
	position: absolute;
	top:50px;
	left:30px;
	width:100px;
}
div.lextmenu {
	position: absolute;
	top:50px;
	font-size:11pt;
	left:30px;
	width:200px;
}
div.searchmenu {
	font-size:11pt;
	left:30px;
	width:200px;
}
div.credit{
	border-style:solid;
	border-width:1pt;
}
div.debit{
	border-style:solid;
	border-width:1pt;
}
div.redcontent{
	position: absolute;
	top:40px;
	left:250px;
	width:600px;
}
div.ccontent{
	position: absolute;
	top:40px;
	left:130px;
	width:680px;
}
div.rmenu {
	position: absolute;
	top:50px;
	right:30px;
	width:100px;
}

table.mtitle {
	border:0;
	align:center
}
td.mshort { 
	color:gray;
	background-color:#0F4CD0;
	font-size:11pt;
	border-style:groove
}

td.mltitle {
	color:gray;
	background-color:#0F4CD0;
	font-size:11pt;
	border-style:groove
}
td.mlltitle {
	color:gray;
	background-color:#0F4CD0;
	font-size:11pt;
	border-style:groove
}

td.mtitle {
	color:gray;
	background-color:#0F4CD0;
	font-size:11pt;
	border-style:groove
}
span.mtitle2 {
	background-color:red;
	font-size:12px;
	border-style:groove
}
span.mtitle {
	color:gray;
	background-color:blue;
	font-size:12px;
	border-style:groove
}

tr.odd {
	background-color:#DDE6FF;
		
}
td.odd{
	background-color:#DDE6FF ;
	border:Opt
}
td.cell{
  color:blue;
background-color:#C5CACD;
	border-style:solid;
	border-width:1pt;
	font-size:11pt;
}
td.selectedcell{
	border-style:solid;
	border-width:1pt;
	font-size:11pt;
        background:blue ;
        color:white;
}

a.mtitle {
	text-decoration:none;
	color:white;
}
a.mtitle:hover {
	background:#4BCCD0;
	}

a.mtitle2 {
	text-decoration:none;
	color:white;
}
a.mtitle2:hover {
	background:#4BCCD0;
	}

a.one:link {
	text-decoration:underline;
	color:#3010FF
}
a.one:visited {
	text-decoration:underline;
	color:#3010FF
	}
a.one:active {
	background: #0000FF
	}

a.one:hover {
	background:#3010FF;
	color:#FFFFFF
	}

a.two:link {
	text-decoration:none;
	color:#3010FF
}
a.two:visited {
	text-decoration:none;
	color:#3010FF
	}
a.two:active {
	background: #0000FF;
	}

a.two:hover {
	background:#3010FF;
	color:#FFFFFF;
	font-size:19px
	}

th.doc {
       background: #0000C5;
       color: #FFFFFF
}


table.doc {
	  width: 60% ;
	  ALIGN: "center"
}

div.u_tmenu {
 	position: absolute;
 	top:10px;
 	left:210px;
 	width:800px;
 
}
div.u_redcontent{
 	position: absolute;
 	top:100px;
 	left:150px;
 	width:700px;
        font-size:9pt;
}

span.odd { 
   background-color:#ECF3FF;
   display:block;
}
span.even { 
   background-color:#DDE6FF;
   display:block;
}
-->
</style>
