<style type="text/css">
BODY {
        bgcolor:#E3F0FF;
}
BODY.defaut {
        bgcolor:#E3F0FF;
}
h2.info {
	background:#879ed4;
	color:white;
	font-size:20px;
}
h2.info2 {
	color:blue;
	font-size:20px;
}


h2.error {
	background:red;
	color:white;
	font-size:20px;
}

h1.title {
	color: blue;
	font-size:25px;
}
div.mtitle {
	position: absolute;
	top:15px;
	right:300px;
	width:100px;

}

div.tmenu {
	position: absolute;
	top:10px;
	left:120px;
	width:800px;

}
div.u_tmenu {
	position: absolute;
	top:10px;
	left:150px;
	width:800px;

}

div.lmenu {
	position: absolute;
	top:50px;
	left:30px;
	width:100px;
	font-size:10px;
}
div.lextmenu {
	position: absolute;
	top:50px;
	font-size:11pt;
	left:30px;
	width:200px;
}
div.searchmenu {
	font-size:11pt;
	left:30px;
	width:210px;
}
div.credit{
	border-style:solid;
	border-width:1pt;
}
div.debit{
	border-style:solid;
	border-width:1pt;
}
div.redcontent{
	position: absolute;
	top:50px;
	left:250px;
	width:600px;
	font-size:12px;
}
div.u_redcontent{
	position: absolute;
	top:100px;
	left:150px;
	width:700px;
        font-size:9pt;
}

div.ccontent{
	position: absolute;
	top:50px;
	left:130px;
	width:670px;
        font-size:9pt;
}
div.rmenu {
	position: absolute;
	top:50px;
	right:30px;
	width:100px;
}

table.mtitle {
	border:0;
	align:center
}
td.mshort { 
  text-align:center;
  border:  1px solid;
  color:#5D90CD ;
  background-color:#DDE6FF;
}
td.mlltitle {
	text-align:center;
	height:30px;
	width:30px;
	font-size:12px;
}
td.mltitle {
	text-align:center;
	height:30px;
	width:60px;
	font-size:12px;
        border: 1px solid;
        background-color:#DDE6FF;
}
td.mtitle {
	text-align:center;
	width:75px;
	font-size:12px;
        border: 1px solid;
    background-color:#DDE6FF;
}
span.mtitle2 {
	background-color:red;
	font-size:12px;
	border-style:groove
}
span.mtitle {
	color:gray;
	background-color:blue;
	font-size:12px;
	border-style:groove
}
span.odd { 
  background-color:#ECF3FF;
  display:block;
 }
span.even { 
  background-color:#DDE6FF;
  display:block;
 }

tr.odd {
	background-color:#DDE6FF;
		
}
td.odd{
	background-color:#DDE6FF ;
	border:Opt
}
td.cell{
	border-style:solid;
	border-width:1pt;
	font-size:11pt;
}
td.selectedcell{
	border-style:solid;
	border-width:1pt;
	font-size:11pt;
        background:blue ;
        color:white;
}

a.mtitle {
  text-decoration:none;
  display:block;
color:blue;
	}

a.mtitle:hover {

  color:white;
  background-color:#5D90CD;
  text-decoration:none;
  display:block;
	}

a.mtitle2 {
  height:30px;
  text-decoration:none;
color:white;
	}

a.mtitle2:hover {
  height:30px;

  color:green;
  background-color:#5D90CD;
  text-decoration:none;
	}

a.one:link {
	text-decoration:underline;
	color:#3010FF
}
a.one:visited {
	text-decoration:underline;
	color:#3010FF
	}
a.one:active {
	background: #0000FF
	}

a.one:hover {
	background:#3010FF;
	color:#FFFFFF
	}

a.two:link {
	text-decoration:none;
	color:#3010FF
}
a.two:visited {
	text-decoration:none;
	color:#3010FF
	}
a.two:active {
	background: #0000FF;
	}

a.two:hover {
	background:#3010FF;
	color:#FFFFFF;
	font-size:19px
	}

th.doc {
       background: #0000C5;
       color: #FFFFFF
}


table.doc {
	  width: 60% ;
	  ALIGN: "center"
}

</style>
