php_value include_path .:../../include:../include:addon
php_flag  magic_quotes_gpc off
php_flag session.auto_start on
php_value max_execution_time 240
php_value memory_limit 12M
AddDefaultCharset utf-8
php_value error_reporting 10239
php_value upload_max_filesize 10M
