/* <style type="text/css"> */
<!--
body {
     background-color:#FFFFFF;
     font-size:12px;
     font-family:sans-serif;
}

table.result {
  font-size:10px;
  color:blue;
  border:blue solid 1px;
  width:80%;
  
  }
table.result th { 
  font-size:11px;
  font-weight:bold;
  font-family:sans-serif;
  border-bottom:1px solid blue;
  padding-left:10px;
  padding-right:10px;
}

h2 {
  font-family:sans-serif;
  font-size:14px;
  color:grey;
}
div.info {
	background:#879ed4;
	color:white;
	font-size:16pt;
  text-align:center;
}

h2.info {
	color:blue;
	font-size:20px;
}
h2.info2 {
	color:blue;
	font-size:20px;
}

h2.error {
	color:red;
	font-size:20px;
}

h1.title {
	color: blue;
	font-size:25px;
}

div.u_subtmenu {
  background-color:lightblue	;
  left:10px;

}
div.u_subt2menu {
background-color:lightgrey;
  left:1%;	

}

div.lmenu {
	position: float;
	float:left;
}
div.lextmenu {
	position: float;
	float:left;
	font-size:11pt;
	left:30px;
	width:200px;
}
div.searchmenu {
	font-size:11pt;
	left:30px;
	width:200px;
}
div.recherche_form{
	width:700px;
	font-size:9px;
	font-family:sans-serif;
  border-style:outset;
  border-width:1px;

}

div.u_redcontent{
	position: float;
	float:left;
}
div.u_content{
	position: float;
	float:left;
	width:100%;
	font-size:12px;
     font-family:sans-serif;
}
div.no span{
	position:static;
     	font-size:9px;	
	font-family:sans-serif;	
	font-weight:bold;
	font-color:red;	
	
}


div.u_content span {
	  position :float;
	  float:left;
	  margin-left:40px;	
}
div.u_content table {
	    width:100%;
	    border:solid blue 2px ;
	    border-style:outset;  
}
div.u_content table th {
	      background-color:lightgrey;
}

table.mtitle {
	border:0;
	align:center
}
td.mshort { 
	color:gray;
	background-color:#0F4CD0;
	font-size:11pt;
	border-style:groove
}


td.mtitle {
	color:gray;
	background-color:#0F4CD0;
	font-size:11pt;
	border-style:groove
}

span.mtitle {
	color:gray;
	background-color:blue;
	font-size:12px;
	border-style:groove
}
span.odd { 
  background-color:#ECF3FF;
  display:block;
 }
span.even { 
  background-color:#DDE6FF;
  display:block;
 }

tr.odd {
	background-color:#DDE6FF;
		
}
td.odd{
	background-color:#DDE6FF ;
	border:Opt
}
td.cell{
  color:blue;
background-color:#C5CACD;
	border-style:solid;
	border-width:1pt;
	font-size:11pt;
}
td.selectedcell{
	border-style:solid;
	border-width:1pt;
	font-size:11pt;
        background:blue ;
        color:white;
}

a.mtitle {
	text-decoration:none;
	color:grey;
}
a.mtitle:hover {
	background:#4BCCD0;
	}

a.mtitle2 {
	text-decoration:none;
	color:white;
}
a.mtitle2:hover {
	background:#4BCCD0;
	}

a.one:link {
	text-decoration:underline;
	color:#3010FF
}
a.one:visited {
	text-decoration:underline;
	color:#3010FF
	}
a.one:active {
	background: #0000FF
	}

a.one:hover {
	background:#3010FF;
	color:#FFFFFF
	}

a.two:link {
	text-decoration:none;
	color:#3010FF
}
a.two:visited {
	text-decoration:none;
	color:#3010FF
	}
a.two:active {
	background: #0000FF;
	}

a.two:hover {
	background:#3010FF;
	color:#FFFFFF;
	font-size:19px
	}
a.detail
{
  font-size:9px;
  font-family:sans-serif;
    text-decoration: none;
    display: block;
    color: blue;
}

a.detail:hover   
{
  font-size:9px;
  font-family:sans-serif;
    color: white;
    background-color: rgb(93, 144, 205);
    text-decoration: none;
    display: block;
}

li.menuv,ol.menuv {
	 display:inline;
	 padding:1em 1em;
}

div.u_tmenu {
 	position:float;
 	width:100%;
 background-color:white;
}

span.odd { 
   background-color:#ECF3FF;
   display:block;
}
span.even { 
   background-color:#DDE6FF;
   display:block;
}
-->
/*</style>*/
