/* <style type="text/css"> */
BODY {
 background-color:#E3F0FF;
  font-size:10px;
  font-family:sans-serif;

}

table.result {
  font-size:10px;
  color:blue;
  border:blue solid 1px;
  width:80%;
  
  }
table.result th { 
  font-size:11px;
  font-weight:bold;
  font-family:sans-serif;
  border-bottom:1px solid blue;
  padding-left:10px;
  padding-right:10px;
}

h2 {
  font-family:sans-serif;
  font-size:14px;
  color:grey;
}
div.info {
	background:#879ed4;
	color:white;
	font-size:16pt;
  text-align:center;
}

h2.info {
	background:blue;
	color:white;
	font-size:20px;
  font-family:sans-serif;

}
h2.info2 {
	color:blue;
	font-size:20px;
    font-family:sans-serif;

}

u_redcontent h2.info {
  background:#879ed4;
  color:white;
  font-size:14pt;
  text-align:center;
  padding:0px;
  margin:0px;
}
h2.error {
	background:red;
	color:white;
	color:white;
	font-size:20px;
}

h1.title {
	color: blue;
	font-size:25px;
}
div.mtitle {
	position: absolute;
	top:15px;
	right:300px;
	width:100px;
        background:#E3F0FF;

}
div.u_subtmenu {
  background-color:lightblue	;
  left:10px;

}

div.u_tmenu {
	position: float;
	margin-top:1px;
	width:100%;
        background-color:#E3F0FF;
}
div.u_subtmenu {
  background-color:lightblue	;
  left:10px;

}
div.u_subt2menu {
background-color:lightgrey;
  left:1%;	

}

div.lmenu {
	position: float;
	float:left;
	left:30px;
	width:100px;
        background-color:#E3F0FF;
}
div.lextmenu {
	position: float;
	float:left;
	font-size:11pt;
	left:30px;
	width:200px;
        background-color:#E3F0FF;
}
div.searchmenu {
	font-size:11pt;
	left:30px;
	width:245px;
        background-color:#E3F0FF;
}


div.recherche_form{
	width:700px;
	font-size:9px;
	font-family:sans-serif;
  border-style:outset;
  border-width:1px;

}

div.u_redcontent{
	position: float;
	float:left;
	width:80%; 	 
	 padding-top:7px;
	 padding-left:8px;
         font-size:9px; 	 
         font-family:sans-serif; 	 

        background-color:#E3F0FF;
}
div.u_content{
	position: float;
	float:left;
	width:100%;
        background-color:#E3F0FF;
}
div.no span{
	position:static;
     	font-size:9px;	
	font-family:sans-serif;	
	font-weight:bold;
	font-color:red;	
	
}

div.u_content span {
	  position :float;
	  float:left;
	  margin-left:40px;	
}
div.u_content table {
	    width:100%;
	    border:solid blue 2px ;
	    border-style:outset;  
}
div.u_content table th {
	      background-color:lightgrey;
}

table.mtitle {
	border:0;
	align:center
}
td.mshort { 
  text-align:center;
  border:  1px solid;
  color:#5D90CD ;
  font-size:9px;
  font-family:sans-serif;

}
td.mtitle {
	text-align:center;
	background:url('image/freebtn2.gif') no-repeat center;
	height:30px;
	width:100px;
  font-family:sans-serif;
	font-size:9px;
}
span.mtitle2 {
	background-color:red;
	font-size:12px;
	border-style:groove
}
span.mtitle {
	color:gray;
	//background-color:blue;
	font-size:12px;
	border-style:groove
}
tr.odd {
	background-color:#DDE6FF;
		
}
td.odd{
	background-color:#DDE6FF ;
	border:Opt
}
td.cell{
	text-align:center;
	background:url('image/freebtn2.gif') no-repeat center;
	height:30px;
	width:90px;
  font-family:sans-serif;
	font-size:11px;
}
td.selectedcell{
	text-align:center;
	background:url('image/freebtn2.gif') no-repeat center;
	height:30px;
	width:100px;
  font-family:sans-serif;
  color:red;
	font-size:11px;

}

a.mtitle{
	text-decoration:none;
	color:blue;
}
a.mtitle:hover {
	color:white;
        background-color:#5D90CD;
	text-decoration:none;
	}

a.mtitle2{
	text-decoration:none;
	color:blue;
}
a.mtitle2:hover {
	color:white;
        background-color:#5D90CD;
	text-decoration:none;
	}

a.one:link {
	text-decoration:underline;
	color:#3010FF
}
a.one:visited {
	text-decoration:underline;
	color:#3010FF
	}
a.one:active {
	background: #0000FF
	}

a.one:hover {
	background:#3010FF;
	color:#FFFFFF
	}

a.two:link {
	text-decoration:none;
	color:#3010FF
}
a.two:visited {
	text-decoration:none;
	color:#3010FF
	}
a.two:active {
	background: #0000FF;
	}

a.two:hover {
	background:#3010FF;
	color:#FFFFFF;
	font-size:19px
	}

th.doc {
       background: #0000C5;
       color: #FFFFFF
}


table.doc {
	  width: 60% ;
	  ALIGN: "center"
}

div.u_tmenu {
 	position: float;
	margin-top:1px;
 	width:100%;
 
}
span.odd { 
   background-color:#ECF3FF;
   display:block;
}
span.even { 
   background-color:#DDE6FF;
   display:block;
}
</style>
